{% extends "layout.html" %}

{% block content %}
<!--would like to add a Transparent image and homepage info  -->
<section>

</section>
<div class="container" id="about"></div>
<h1>About Me </h1>

<p> Instantly I was intrigued then I remember vaguely some coding I learned back in college. I was more determine at that point to learn more python so I can help my customer a bit more. I was working in the government transportation sector at a company called Routematch as an Implementation Project Manager. Then I started my python journey at Lynda.com and learning from my peers at the company. I found myself wanting to know more, that's when I decided to register at a BootCamp at Georgia Tech University. I learned so much over the 26 weeks, touching different libraries, frameworks, and software.  But my learning did not stop there, I have a goal.  Although my training was in Data  Science and Analytics which I love the end goal is to be a back-end developer. I continue my training with node.js, advanced SQL, react, and much more.</p>
<p>In my career change journey, I want to be completely transparent to my future employer. I am new and a continuous learner in need of an opportunity. I never give up on any projects or ambitions. For many years, I worked as a Project Manager leading different technical software implementations. I now want to be a part of making the application. </p>

<!-- Subscribe option to get email data from individual -->
<section>

</section>

{% endblock %}